{% extends 'base.html.twig' %}

{% block title %}Vos favoris{% endblock %}

{% block body %}

<div class="container-xl bg-light p-5 border-top">

    <div class="row mb-2">

        <h2 class="text-muted fw-bold mb-4">Ma liste</h2>

{# 
$flashMessages = 
[
    'success' => [
        'mon premier message',
        'un autre message',

    ],
    'toto' => [
        'toto', 
        'est ',
        'partout',
    ],
    'warning' => [
        'un seul message ici'
    ]
]

#}
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}

        {% for show_id, show in show_list %}
        <div class="col-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
                <div class="col-4 movie__poster" style="background-image: url({{ show.poster }});">
                    <img src="images/poster-placeholder.png" class="img-fluid">
                    <!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
                </div>
                <div class="col-8 p-4 d-flex flex-column position-static">
                    {{ include('movie/_favorite_icon.html.twig')}}
                    <strong class="d-inline-block mb-2 text-primary">{{ show.type }}</strong>
                    <h3 class="mb-1">{{ show.title }}</h3>
                    <div class="mb-1 text-muted">{{ show.duration }} min</div>
                    <a href="{{ path('movie_show', {"movieId": show_id}) }}" class="fs-1 mt-3 text-danger align-self-start">
                        <i class="bi bi-arrow-right-square"></i>
                    </a>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>

    <div class="col">
        <a href="" class="btn btn-danger btn-sm" onclick="return confirm('Vider votre liste de favoris ?');">Vider la liste</a>
    </div>

</div>
{% endblock %}
