<div class="container-fluid">
            <a href="{{path('homepage')}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{asset('favicon.png')}}" height="24" alt="sympony">
                <span class="header-logo__title">O'flix</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">


<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{path('homepage')}}">Accueil</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{{path('movie_list')}}"><i class="bi bi-film"></i> Films, séries TV</a>  
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('movie_favorite') }}"><i class="bi bi-bookmark"></i> Ma liste</a>
                    </li>
                </ul>