{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Ajouter un Casting</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    
    {{ form_row(form.role) }}
    {{ form_row(form.credit_order) }}
   
  <button class="btn btn-success " >Add</button>
    {{ form_end(form) }}
   
     {# {{ form_row(form.movieName,{'attr': {'placeholder': movie.title}}) }}   #}
    
   
</div>
{% endblock %}


{% block title %}
Add a casting
{% endblock %}
