{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
  <div class="container my-4">
        <a href="{{path('backoffice_casting_add')}}" class="btn btn-success float-end">Ajouter</a>
        <h2>Liste des Castings</h2>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">role</th>
                    <th scope="col">credit-order</th>
                   
                     <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
              {% for casting in castings %}  
                <tr>
                    <th scope="row">{{casting.id}}</th>
                    <td>{{casting.role}}</td>
                    <td>{{casting.creditOrder}}</td>
                    
                    <td class="text-end">
                        <a href="{{path('backoffice_casting_read',{id:casting.id})}}" class="btn btn-sm btn-warning">
                            <i class="fa fa-pencil-square-o" aria-hidden="true">Detail</i>
                        </a>
                        <a href="{{path('backoffice_casting_edit',{id:casting.id})}}" class="btn btn-sm btn-warning">
                            <i class="fa fa-pencil-square-o" aria-hidden="true">Update</i>
                        </a>
                         <a href="{{path('backoffice_casting_delete',{id:casting.id})}}" class="btn btn-sm btn-danger">
                            <i class="fa fa-pencil-square-o" aria-hidden="true">delete</i>
                        </a>
                        <!-- Example single danger button -->
                       
                        {# <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-danger dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Oui, je veux supprimer</a>
                                <a class="dropdown-item" href="#" data-toggle="dropdown">Oups !</a>
                            </div>
                        </div> #}
                    </td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
